<footer class="ft-simple">
  <div class="container ft-simple-inner">

    <!-- Left: quick links -->
    <div class="ft-simple-links">
      <a href="/">হোম</a>
      <a href="/search">পণ্য</a>
      {% for cat in (categories or [])[:3] %}
      <a href="/category/{{ cat.slug }}">{{ cat.name }}</a>
      {% endfor %}
    </div>

    <!-- Center: brand -->
    <a href="/" class="ft-simple-brand">{{ settings.store_name }}</a>

    <!-- Right: copyright -->
    <span class="ft-simple-copy">© {{ current_year() }}. All Rights Reserved.</span>

  </div>
</footer>
